{layout ../@layout.latte}

{title Disneyland Paris}
{description 5 April 2014}
{cover img/20140405120558_IMG_3036_post.jpg}



{block content}
    <div class="gallery">

        {include ../@hero.latte}

        {image /img/ogimage.jpg}

        {* Hrad a město *}
        {image /img/20140405191725_IMG_4238_post.jpg}
        {image /img/20140405190724_IMG_4204_post.jpg}
        {image /img/20140405103834_IMG_2850_post.jpg}
        {image /img/20140405120840_IMG_3047_post.jpg}
        {image /img/20140405121525_IMG_3057_post.jpg}
        {image /img/20140405191325_IMG_4209_post.jpg}
        {image /img/20140405120558_IMG_3036_post.jpg}

        {* Pirátské, Východ *}
        {image /img/20140405155325_IMG_3616_post.jpg}
        {image /img/20140405155342_IMG_3621_post.jpg}
        {image /img/20140405155431_IMG_3626_post.jpg}
        {image /img/20140405162133_IMG_3783_post.jpg}
        {image /img/20140405160300_IMG_3723_post.jpg}
        {imagerow}
            {image /img/20140405160030_IMG_3703_post.jpg}
            {image /img/20140405162741_IMG_0891_post.jpg}
        {/imagerow}
        {*<div class=cleaner></div>
        <p class='medium center'>By the way look at my t-shirt from Barů. <i class=fontello-emo-happy></i></p>*}

        {image /img/20140405154843_IMG_3593_post.jpg}

        {* Kovbojské *}
        {image /img/20140405111436_IMG_2894_post.jpg}
        {image /img/20140405110445_IMG_2862_post.jpg}
        {imagerow}
            {image /img/20140405111112_IMG_2888_post.jpg}
            {image /img/20140405110930_IMG_2879_post.jpg}
        {/imagerow}
        {image /img/20140405110922_IMG_2877_post.jpg}
        {image /img/20140405111058_IMG_2881_post.jpg}
        {image /img/20140405114317_IMG_0795_post.jpg}
        {image /img/20140405114933_IMG_2953_post.jpg}
        {*{image /img/20140405171423_IMG_3939_post.jpg}*}
        {image /img/20140405170855_IMG_3894_post.jpg}

        {* Space, nautilus *}
        {image /img/20140405143732_IMG_3196_post.jpg}
        {image /img/20140405145111_IMG_3298_post.jpg}
        {imagerow}
            {image /img/20140405144937_IMG_3287_post.jpg}
            {image /img/20140405144555_IMG_3253_post.jpg}
        {/imagerow}
        {image /img/20140405145634_IMG_3309_post.jpg}
        {image /img/20140405151006_IMG_3398_post.jpg}

        {* Podvečer *}
        {image /img/20140405191607_IMG_4229_post.jpg}
        {image /img/20140405191518_IMG_4222_post.jpg}

        {* V noci *}
        {imagerow}
            {image /img/20140405125549_IMG_3137_post.jpg}
            {image /img/20140405210956_IMG_4363_post.jpg}
        {/imagerow}
        {image /img/20140405153537_IMG_3545_post.jpg}
        {image /img/20140405223158_IMG_4399_post.jpg}
        {image /img/20140405224118_IMG_4404_post.jpg}

        {*<p class='large center light'>Thank you for viewing! We enjoyed it there! <i class=fontello-emo-happy></i></p>*}
        {*<p class='large center light'>Děkujeme za shlédnutí! Užili jsem si to tam. <i class=fontello-emo-happy></i></p>*}

        <footer class="infoblock muted">
            {*<i class="fontello-location"></i> <a target="_blank" href="https://www.google.cz/maps/place/Disneyland+Resort+Paris,+77777+Marne-la-Vallée/@48.8722344,2.7758079,13z/data=!4m2!3m1!1s0x47e61d19ca7ae2bd:0x57faf8cb6310e660">France, Disneyland Resort Paris<i class="fontello-link-ext"></i></a><br>*}
            <i class="fontello-camera"></i> iPhone 5S, iPhone 4<br>
        </footer>
        {include ../@social.latte}

    </div>



{/block}