
Options -Indexes




RewriteEngine On

RewriteCond %{SERVER_PORT} !443 [OR]
RewriteCond %{HTTP_HOST} !^janfolwarczny.com [NC]
RewriteRule ^(.*)$ https://janfolwarczny.com/$1 [R=301,QSA,L]

RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule !\.(pdf|js|ico|gif|jpg|png|css|rar|zip|tar\.gz)$ index.php [L]

