@import "../components/_variables.css";

.heroParagraph {
    font-size: 1.2rem;
    margin: 0 0 8rem;
}

@media (min-width: 990px) {
    .heroParagraph {
        font-size: 1.75rem;
    }
}

.socialLinks {
    display: flex;
    flex-wrap: wrap;
    margin: 7rem -1rem;
    padding: 0;
    justify-content: space-between;
}

.socialLinks a {
    list-style-type: none;
    margin: 1rem;
    font-weight: var(--font-weight-semibold);
    text-decoration: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    line-height: 2rem;
    transition: .3s border-color;
    font-size: 1.2rem;
}

.socialLinks a:hover {
    border-color: white;
}
