@import "_variables.css";

.article {
    margin-bottom: 3rem;
    overflow: hidden;
    /*border-top: 2px solid rgba(255, 255, 255, .15);*/
    /*padding-top: 3rem;*/
}

.title {
    font-size: 1.25rem;
    margin: .5rem 0 1rem;
}

.title a {
    text-decoration: none;
}

.imageWrap {
    flex: 0 0 40%;
}

.imageWrap img {
    display: block;
    max-width: 100%;
    -webkit-user-drag: none;
    user-select: none;
}

.date, .medium {
    white-space: nowrap;
    color: rgba(255, 255, 255, .35);
}

.medium:before {
    content: '—';
    margin: 0 .5rem;
}

.perex {
    margin: 1rem 0;
}

@media (min-width: 600px) {
    .article {
        display: flex;
    }

    .imageWrap {
        margin-right: 3rem;
    }

    .textWrap {
        padding-top: 2rem;
    }
}
