@import "~normalize.css/normalize.css";
@import "_variables.css";

:global html {
    font-size: 15px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-feature-settings: 'kern', 'liga', 'clig', 'calt';
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    /*letter-spacing: -.06em;*/
}

:global body {
    background-color: black;
    color: white;
    line-height: 1.5;
}

:global a {
    color: inherit;
    display: inline-block;
    transition: transform .2s;
    -webkit-text-underline-position: under;
}

:global a:active {
    transform: translateY(2px);
}

.main {
    margin: 10rem auto 0;
    max-width: 960px;
    padding: 0 2rem;
    position: relative;
}

.background {
    background-size: cover;
    position: fixed !important;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
