<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8">
    <title>Jan Folwarczny{if !empty($title)} — {$title}{/if}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" n:if="!empty($description)" content="{$description}">
    <meta name="robots" content="index, follow">
    <meta name="author" content="janfolwarczny.com">
    <meta name="google-site-verification" content="vabznqr3RpjQMgLnpE9bU0BwOABcSRfTbWs9BI6bw70">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="p:domain_verify" content="d9e8d89f95553d0e9dba7ad5b1666c81"/>
    {block openGraph}
    <meta property="og:title" content="{if !empty($title)}{$title}{else}Jan Folwarczny — Graphic designer and webdeveloper{/if}">
    <meta property="og:type" content="{if $urlPath}article{else}website{/if}">
    <meta property="og:url" content="{$url}">
    <meta property="og:image" content="{$baseUrl|substr:0,-1}{if !empty($coverUrlPath)}{$coverUrlPath}{else}/img/og-image.png{/if}">
    <meta property="og:site_name" content="Jan Folwarczny">
    <meta property="og:description" n:if="!empty($description)" content="{$description}">
    {/block}
    <link rel="canonical" href="{$url}">
    <link rel="stylesheet" href="/assets/build/style.css">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script><![endif]-->
    {block head}{/block}
</head>
<body n:class="isset($bodyClass) ? $bodyClass : light, $pathClass">


    {if $urlPath}
        <div class="quit">
            <a href="/" class="muted">&times;</a>
        </div>
    {/if}
    {block content}{/block}



    <script src="/assets/build/script.js"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-35799358-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
